.expirience-content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    .expirience-description {
        width: 100%;
    }

    .expirience-image {
        width: 100%;
        max-height: 400px;
        display: flex;
        align-items: center;
        
        @include for-md {
            width: calc(40% - 25px);
        }

        img {
            width: 100%;
        }
    }

    .expirience-subjects {
        width: 100%;

        @include for-md {
            width: calc(60% - 25px);
        }

        ul {
            // padding: 0;
        }

        li {
            color: $text-darck-blue;
            font-size: 12px;
            font-family: $text-font;

            &::marker {
                font-size: 24px;
                color: $text-base-color;
            }
        }
    }
}