/** ------ Extra small screen ------ **/
/** ------ Small screen ------ **/
/** ------ Medium screen ------ **/
/** ------ Large screen ------ **/
/** ------ Extra Large screen ------ **/
body {
  margin: 0;
}

p {
  color: #111a53;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 420px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.heading h1 {
  font-size: 32px;
  font-family: "Yeseva One", cursive;
  color: #111a53;
}
.heading h2 {
  font-size: 25px;
  font-family: "Yeseva One", cursive;
  color: #111a53;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #4354d0;
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #4354d0;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: background 1s ease-in-out;
}
.btn:hover {
  background-color: transparent;
  color: #4354d0;
  font-weight: 600;
  transition: background 1s ease-in-out;
}

.image-block {
  border-radius: 30px;
  overflow: hidden;
}

.base-bg {
  background-color: #f8faff;
}

.section-block {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .section-block {
    padding: 100px 0;
  }
}

.flex-row {
  display: flex;
}

.members-items .slick-arrow {
  background-image: url("./../images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.members-items .slick-arrow::before {
  content: "";
}
.members-items .slick-arrow:focus {
  background-image: url("./../images/arrow.png");
}
.members-items .slick-prev {
  transform: rotate(180deg);
}

.navigation {
  min-height: 56px;
}

.collapse-menu {
  background-color: #111a53;
  height: calc(100vh - 100px);
  min-height: 500px;
  position: relative;
  right: 100%;
  left: -300px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
}
.collapse-menu.active {
  transition: all 0.5s ease-in-out;
  right: 0;
  left: 0;
}
.collapse-menu.active .button-position {
  right: 0;
}
.collapse-menu .button-position {
  right: -52px;
}

.navigation-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .navigation-block {
    display: none;
  }
}

.navigation-menu .menu-items {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.navigation-menu .menu-item {
  padding: 15px 0;
}
.navigation-menu .menu-item a {
  color: #8d91c2;
  font-size: 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .navigation-menu .menu-item a {
    font-size: 16px;
  }
}
.navigation-menu .menu-item a:hover {
  color: #5ad9b9;
}

.authorization-btn button {
  background-color: #5ad9b9;
  border: 2px solid #5ad9b9;
  color: #fff;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  .authorization-btn button {
    font-size: 16px;
  }
}
.authorization-btn button:hover {
  background-color: #fff;
  color: #5ad9b9;
  cursor: pointer;
}

.navigation-desk-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navigation-desk-menu {
    display: flex;
  }
}
.navigation-desk-menu .logo img {
  margin-bottom: 23px;
}
.navigation-desk-menu .menu-items {
  display: flex;
  gap: 30px;
}

.button-position {
  position: absolute;
  top: 0;
  right: 0;
}

.collapse-btn {
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collapse-btn button {
  position: relative;
  width: 26px;
  height: 20px;
}
.collapse-btn button:focus {
  box-shadow: none;
}

.collapse-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.collapse-btn {
  margin: 15px;
}
.collapse-btn span {
  background: #111a53;
  height: 4px;
}
.collapse-btn button {
  background-color: transparent;
  border: none;
}
.collapse-btn.open span {
  background: #fff;
}

.collapse-btn span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.collapse-btn span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}

.collapse-btn span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}

.collapse-btn.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}

.collapse-btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.collapse-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 3px;
}

.about-us .about-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about-us .about-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.about-us .about-description {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-us .about-description {
    width: calc(50% - 50px);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.about-us .about-image {
  width: 100%;
  max-height: 500px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about-us .about-image {
    width: calc(50% - 50px);
    margin-left: 50px;
  }
}
.about-us .about-image img {
  width: 100%;
}

.counter {
  padding: 50px 0;
}

.counter-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.counter-content .counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .counter-content .counter-item {
    width: calc(50% - 25px);
  }
}
@media screen and (min-width: 992px) {
  .counter-content .counter-item {
    width: calc(25% - 38px);
  }
}
.counter-content .counter-item .highlighted-text {
  font-size: 48px;
  font-family: "Yeseva One", cursive;
  color: #111a53;
  font-weight: 600;
}
.counter-content .counter-item .small-text {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #111a53;
  font-weight: 600;
}

.expirience-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.expirience-content .expirience-description {
  width: 100%;
}
.expirience-content .expirience-image {
  width: 100%;
  max-height: 400px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .expirience-content .expirience-image {
    width: calc(40% - 25px);
  }
}
.expirience-content .expirience-image img {
  width: 100%;
}
.expirience-content .expirience-subjects {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .expirience-content .expirience-subjects {
    width: calc(60% - 25px);
  }
}
.expirience-content .expirience-subjects li {
  color: #111a53;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.expirience-content .expirience-subjects li::marker {
  font-size: 24px;
  color: #5ad9b9;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .project-item {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 420px) {
  .projects .project-item {
    width: calc(50% - 10px);
  }
}
@media screen and (min-width: 992px) {
  .projects .project-item {
    width: calc(33.3% - 14px);
  }
}
.projects .project-item-img img {
  width: 100%;
}
.projects .project-wrapper {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(17, 26, 83, 0.7);
  opacity: 0;
  transition: opacity 0.5 ease-in-out;
}
.projects .project-wrapper:hover {
  opacity: 1;
  cursor: pointer;
}
.projects .project-wrapper img {
  max-width: 100px;
}
.projects .project-wrapper h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Yeseva One", cursive;
  font-weight: 100;
}
.projects .project-wrapper p {
  font-size: 12px;
  color: #fff;
}/*# sourceMappingURL=main.css.map */